@import url('https://fonts.googleapis.com/css2?family=Domine&family=Titillium+Web:wght@300&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px; 
    background-color: #FDE2C4;
}

body {
    background-color: white;
    font-family: Domine;
    margin: 0;
    padding: 0;
}

header {
    background-color: #08769B;
}


nav a:hover {
    background-color:#FDE2C4;
    color: black;
}

.book, .join {
    background-color: white;
    color:#08769B;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    font-size: 18px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: white;
    color:black;
}

.msg {
    background-color:rgba(20,30,13, .7);
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color: black;
    font-family: Domine;
    padding-bottom: 15px;
}

.msg p {
    color: black;
    padding-bottom: 15px;
}

footer{
    background-color:#08769B;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    color: #08769B;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}    


footer .social img {
  padding-top: 15px;
}

.home-title {
    color: black; 
    font-family: Titillium Web;
    font-size: 2em; 
    margin-top: 10px;
}

.logo {
    width: 80px
}

#logo_link {
    padding-top: 5px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

#hero-img {
    width: 100%
}

h2 {
    margin: 0;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  

.card-img {
    border: 10px solid  #08769B;
}