@import url('https://fonts.googleapis.com/css2?family=Domine&family=Titillium+Web:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color:white;
    text-decoration: none; /*Usado para retirar o sublinhado do link*/
    padding: 35px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.72);
    color:#003559;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color: #83b5d1;
}

body {
    background-color: white;
    font-family: Domine, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color:#003559bf;
}

.book, .join {
    text-decoration: none;
    color: #003559;
    background-color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #003559;
    background-color: #83B5D1;
}

.msg {
    background-color:#83B5D1;
    line-height: 1.5em;
    padding: 35px;
}

footer {
    background-color: #003559bf;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}

footer a {
    text-decoration: none;
    color:black
}

footer p a:hover {  /* Alteração adicionando p*/
    background-color: rgba(255, 255, 255, 0.72);
    color: #003559;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #003559;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #003559;
}

.msg h2 {
    color: #003559;
    font-family: Domine, Helvetica, sans-serif;
}

.msg p {
    color: #003559;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #003559bf;
}

main section img {
    box-sizing: border-box;
}