@import url('https://fonts.googleapis.com/css2?family=Domine&family=Titillium+Web:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-align: center;
    color:white;
    text-decoration: none; /*Usado para retirar o sublinhado do link*/
    padding: 35px;
}

nav a:hover {
    background-color: rgba(255, 255, 255, 0.72);
    color:#003559;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.card-img, .mountains {
    width: 100%;
}

#background {
    height: 725px;
    background-color: #83b5d1;
    grid-column: 1/11;
    grid-row: 4/9;
}

body {
    background-color: white;
    font-family: Domine, Helvetica, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

header {
    background-color:#003559bf;
    display: grid;
    grid-template-columns: 150px auto;
}

.book, .join {
    text-decoration: none;
    color: #003559;
    background-color: white;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    color: #003559;
    background-color: #83B5D1;
}

.msg {
    background-color:#c7deeffd;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

footer {
    background-color: #003559bf;
    color: rgb(255, 255, 255);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    text-decoration: none;
    color:rgb(255, 255, 255)
}

footer p a:hover {  /* Alteração adicionando p*/
    background-color: rgba(255, 255, 255, 0.72);
    color: #003559;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: none;
}
footer .social img {
    padding-top: 15px;
}

.home-title {
    color: #003559;
    font-family: 'Titillium Web', Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}

h4 {
    color: #003559;
}

.msg h2 {
    color: #003559;
    font-family: Domine, Helvetica, sans-serif;
}

.msg p {
    color: #003559;
    font-size: .8em;
    padding-bottom: 15px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

h2 {
    margin: 0;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}

.mountains {
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img {
    border: 10px solid #003559bf;
    transition: .5s;
    box-shadow: 5px 5px 10px #6f7364;
}

.card-img:hover {
opacity: .6;
transform: scale(1.1);
}

main section img {
    box-sizing: border-box;
}


/* About Us Subpage  */

.about_us_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin: auto 30px;
}

.about_us_grid img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

#about_us_h1 {
    text-align: center;
    margin: 70px auto;
}

.about_us_text_container p {
    text-align: justify;
    line-height: 1.75em;
     
}

.about_us_text_container h3 {
    text-align: center;
}

/* Contactus Subpage */

#contactus {
    background-image: url("/wdd130/aboutme/wwr/images/contactus-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.contactus_title{
    font-size: 1.35em;
    color: #ffffffd0;
    margin-top: 50px;
    text-align: center;
}

.h3_contactus {
    font-size: 0.7em;
    color: white;
    margin-top: 60px;
    margin-bottom: 0;
    text-align: end;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    letter-spacing: 0.3px;
}

form {
    /* Center the form on the page */
    margin: 50px auto;
    width: 400px;
    /* Form outline */
    padding: 1.5em;
    border: 1px solid #ccc;
    border-radius: 1em;
    background-color: #003559b7;
    font-size: 0.8em;

}
#name, #mail {
    font-size: 0.8em;
    color: rgb(103, 102, 102);
}

#msg {
    font-size: .7rem;
    color: rgb(49, 49, 49);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
    padding-right: 4px;
    color: white;
}

input, textarea {
    /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
    font: 1em sans-serif;
    

    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;

    /* Match form field borders */
    border: 1px solid #999;
}


button {
    color: gray;
    margin-top: 0;
    float: right;
  

}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */
    padding-left: 90px;
    /* same size as the label elements */
}

button {
    /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
    margin-left: 0.5em;
}

#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;
}

.moveDown {
    margin-top: 3em;
}

/* Media Queries */

@media screen and (max-width: 900px) {

    #hero,
    .home-grid {
        display: block;
        height: auto;
    }

    nav,
    footer {
        flex-direction: column;
    }

    nav a {
        display: block;
        padding: 15px;
    }

    #hero {
        margin-top: 0;
    }

    #hero-msg {
        margin-top: 0;
    }

    #hero-msg h4 {
        display: none;
    }

    .home-title {
        font-size: 25px;
        color: #6f7364;
    }

    .rivers-card,
    .camping-card,
    .rapids-card {
        margin: 50px auto;
        width: 60%;
    }

    #background {
        display: none;
    }

    .mountains,
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }

    footer {
        margin-top: 25px;
    }
}